<!---Header-->
<app-header></app-header>


<div class="container">
    <!-- Folders -->
    <h4 class="mx-1 my-4">Folders</h4>

    <div class="folder-grid">
        @for (item of CategoryData; track $index) {

        <app-folder-card name={{item[0]}} [fileCount]="parseInt(item[2].toString())"></app-folder-card>
        }


    </div>
    <!-- Files -->

    <h4 class="mx-1 my-5"> Files</h4>

    <div class="file-grid">
        @for (item of FilesData; track $index) {
        <app-file-card data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight"
            [name]="item[1]" [type]="item[0]" (click)="openSidebar(item)"></app-file-card>
        }
    </div>

    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
        <div class="offcanvas-header">
            <h5 id="offcanvasRightLabel"></h5>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <!-- ========== Start Section ========== -->
            <div class="box d-flex justify-content-center align-items-center rounded ">
                <img src="assets/icon/{{type}}" alt="">
            </div>

            <h4>{{name}}</h4>


            <h5 class="mt-4 mb-3">Information</h5>
            <hr>
            <div class="mb-2">
                <strong>Created By</strong> <span class="float-end">Brian Hughes</span>
            </div>
            <hr>
            <div class="mb-2">
                <strong>Created At</strong> <span class="float-end">August 29, 2020</span>
            </div>
            <hr>
            <div class="mb-2">
                <strong>Modified At</strong> <span class="float-end">August 29, 2020</span>
            </div>
            <hr>
            <div class="mb-2">
                <strong>Size</strong> <span class="float-end">4.5 MB</span>
            </div>
            <hr>

            <div class="mt-5">
                <strong>Description</strong> <span class="float-end"></span>
            </div>
            <hr>
            <strong><em>Click here to add a description</em></strong>

            <div class="mt-4 d-flex  justify-content-between align-items-center">
                <button class="btn btn-color btn-rounded">Download</button>
                <button class="btn btn-colorA btn-rounded">Delete</button>
            </div>
            <!-- ========== End Section ========== -->

        </div>
    </div>


    <!-- top button -->
    @if (showTopButton) {
    <button class="top-btn" data-bs-toggle="modal" data-bs-target="#uploadFileModal">+ Upload File</button>
    }
</div>

<div class="modal fade" id="uploadFileModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add File</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <label>Title</label>
                <input class="form-control" type="text">

                <label class="mt-2">File</label>
                <input class="form-control" type="file">

                <div class="text-end mt-2">
                    <button type="button" class="btn btn-color" data-bs-dismiss="modal">Add</button>
                </div>
            </div>



        </div>
    </div>